@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
}
.counter-heading {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 800;
}
.counter-value {
  font-size: 75px;
  font-weight: 900;
}
.resbutton {
  font-family: arial;
  font-weight: bold;
  color: #FFFFFF !important;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #000000;
}
.incbutton {
  font-family: arial;
  font-weight: bold;
  color: #000000 !important;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #00BF00;
  }
  .decbutton {
    font-family: arial;
    font-weight: bold;
    color: #000000 !important;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #E62709;
  }
  img{
    float:right;
   }